{% extends 'portfolio/base.html' %}

{% block content %}


  <div class="container">
    <div class="text-center">
      <h1 class="text-center mt-5 display-2"><strong>Blog</strong></h1>
      <h4 class="mb-5">Leo wrote {{ posts.count }} post{{ posts.count|pluralize }}</h4>
    </div>

    {% for post in posts %}
    <div class="jumbotron">
      <a href="{% url 'blog:detail' post.id %}">
        <h1 class="text-primary"><strong>{{ post.title }}</strong></h1>
      </a>
      <div class="text-muted mb-3"><strong>{{ post.date|date:'d/m/Y' }}</strong></div>
      <p>{{ post.body|striptags|truncatechars:200 }}</p>
    </div>
    {% endfor %}


  </div>
  
{% endblock %}